# Setup

In [146]:
import pandas as pd
import os
import numpy as np
import json

In [147]:
data = pd.read_parquet(".." + os.sep + "data" + os.sep +
                "dati_presenze_politici.parquet")

trasformazione delle date in oggetti datetime

In [148]:
#data['DATA'] = data['DATA'].apply(lambda x: x.replace(" 00:00",""))
#data['DATA'] = data['DATA'].apply(lambda x: x.replace(":00",""))
#data.DATA = pd.to_datetime(data["DATA"],  format="%d.%m.%Y")

In [149]:
data.head(4)

,CANALE,PROGRAMMA,DATA,COGNOME,NOME,MICRO_CATEGORIA,ARGOMENTO,DURATA,TIPO_TEMPO
2,CANALE 5,TG5,2022-01-01,Berlusconi,Silvio,PDL - Forza Italia,Politica e attività istituzionali,42,Notizia
3,CANALE 5,TG5,2022-01-01,Calenda,Carlo,Azione - +Europa - Radicali Italiani,Politica e attività istituzionali,6,Notizia
4,CANALE 5,TG5,2022-01-01,Conte,Giuseppe,Movimento 5 Stelle,Politica e attività istituzionali,36,Notizia
5,CANALE 5,TG5,2022-01-01,D'Amato,Alessio,Partito Democratico,Cronaca,3,Notizia

In [150]:
def data2json(data, outfile, outpath=".." + os.sep + "docs" + os.sep + "data" + os.sep):
    json_data = json.dumps(data)
    json_file = open(outpath+outfile, "w")
    json_file.write(json_data)
    json_file.close()

# Soggetto collettivo

filtro per soggetti collettivo

In [151]:
dati_soggetti_colletivi = data[data.NOME == "Soggetto Collettivo"]
#dati_soggetti_colletivi = dati_soggetti_colletivi[dati_soggetti_colletivi.NOME ==
#                                        "Soggettivo Collettivo"]

## Distribuzione Interventi ed argomenti per Soggetti Collettivi

In [192]:
minuti_soggetti_collettivi = dati_soggetti_colletivi.groupby(["COGNOME"])["DURATA"].sum().reset_index().fillna(0).sort_values(by="DURATA", ascending=False)

In [232]:
out = "data: ["
data_distro_interventi = {}
oggetti_distro_interventi = []
label_notizia = "notizia"
label_intervento = "intervento"

for idx,row in minuti_soggetti_collettivi.iterrows():
    root = {}
    name = row.COGNOME
    root['name'] = name
    value = round(row.DURATA / 60,2)   
    root['value'] = value
    #out += '{name: "%s", value: %s},' % (name, value)
    dati_soggetto_collettivo = data[data.COGNOME == name]

    argomenti = dati_soggetto_collettivo.groupby(["ARGOMENTO"])["DURATA"].sum(
    ).reset_index().fillna(0).sort_values(by="DURATA", ascending=False)
    oggetti = []
    for idx, row in argomenti.iterrows():
        oggetto = {}
        oggetto['name'] = row.ARGOMENTO
        oggetto['value'] = round(row.DURATA / 60, 2)
        oggetti.append(oggetto)
    # minuti_soggetto_collettivo_tipo = dati_soggetto_collettivo.groupby(["TIPO_TEMPO"])[
    #     "DURATA"].sum().reset_index().fillna(0).sort_values(by="DURATA", ascending=False)
    # if "Notizia" in minuti_soggetto_collettivo_tipo.TIPO_TEMPO.unique():
    #     notizia = minuti_soggetto_collettivo_tipo[minuti_soggetto_collettivo_tipo['TIPO_TEMPO']
    #                                           == "Notizia"].DURATA.values[0]
    # else:
    #     notizia = 0
        
    # if "Parola" in minuti_soggetto_collettivo_tipo.TIPO_TEMPO.unique():
    #     parola = minuti_soggetto_collettivo_tipo[minuti_soggetto_collettivo_tipo['TIPO_TEMPO'] == "Parola"].DURATA.values[0]
    # else:
    #     parola = 0
    #     p +=1 
        
    # dati_notizia = {}
    # dati_notizia['name'] = label_notizia
    # dati_notizia['value'] = round(notizia / 60, 2)
    # itemstyle = {}
    # itemstyle['color'] = 'green'
    # dati_notizia['itemStyle'] = itemstyle

    # dati_intervento = {}
    # dati_intervento['name'] = label_intervento
    # dati_intervento['value'] = round(notizia / 60, 2)
    # itemstyle = {}
    # itemstyle['color'] = 'blue'
    # dati_intervento['itemStyle'] = itemstyle

    # level1 = []
    # level1.append(dati_notizia)
    # level1.append(dati_intervento)


    root['children'] = oggetti
    oggetti_distro_interventi.append(root)
    # fare i figli delle notizie e degli interventi
    
#     out += '{upperLabel: "%s",' % (name)
#     out += 'name: "%s", value: %s,' % (name, value)
#     out += 'children: [{'
#     out += 'name: "notizia", value: %s},' % round(notizia / 60,2)
#     out += '{ name: "parola", value: %s}' % round(parola / 60, 2)
#     out += "]},"
# out = out[:-1] + "]"
data_distro_interventi["dati"] = oggetti_distro_interventi
data2json(data_distro_interventi, "presenza_movimenti.json")

Politica e attività istituzionali
539706
Economia, finanza e lavoro
13603
Cronaca
10873
Altro
5687
Società
1136
Giustizia
762
Esteri
760
Mass media e spettacolo
555
Medicina, salute e scienza
394
Cultura e istruzione
224
Sport
72
Programma
58
Informazioni di servizio
45
Ambiente
34
Costume e società
12
Religione e questioni religiose
9
Fine
3
Pubblicità
2

In [222]:
print(p)

237

In [ ]:
dati_soggetti_colletivi.groupby(["COGNOME"])["DURATA"].sum(
).reset_index().fillna(0).sort_values(by="DURATA", ascending=False)

# Personaggi politici

filtro per soli politici

In [154]:
dati_politici = data[data.NOME != "Soggettivo Collettivo"]
dati_politici = dati_politici[dati_politici.NOME != "Soggetto Collettivo"]

creazione campo NOME_COGNOME

In [155]:
dati_politici['NOME_COGNOME'] = dati_politici['NOME'] + \
    " " + dati_politici['COGNOME']

calcolo presenze per politico

In [156]:
presenze = dati_politici.pivot_table(index="NOME_COGNOME",
                             values="DURATA", aggfunc=np.sum)#

In [157]:
presenze.reset_index(inplace=True)

In [158]:
presenze.sort_values(by="DURATA", ascending=False, inplace=True)

In [159]:
totale_politici = len(dati_politici.NOME_COGNOME.unique())

In [160]:
totale_politici

8547

ricerca più presenti nell'ultimo decile

In [161]:
#ultimo decile
p = presenze.DURATA.quantile(0.9)

In [162]:
presenze_politici_rilevanti = presenze[(presenze.DURATA > presenze.DURATA.quantile(0.9)) & (presenze.DURATA <= presenze.DURATA.max())]

di questi prendiamo l'ultimo decile

In [163]:
presenze_politici_top_rilevanti = presenze[(presenze.DURATA > presenze_politici_rilevanti.DURATA.quantile(
    0.9)) & (presenze.DURATA <= presenze.DURATA.max())]

In [164]:
presenze_politici_top_rilevanti.shape[0]

86

In [165]:
presenze_politici_top_rilevanti

            NOME_COGNOME   DURATA
5887      Matteo Salvini  4830594
7830   Silvio Berlusconi  2542977
5001       Luigi Di Maio  2460683
5880        Matteo Renzi  1896863
3719      Giorgia Meloni  1835590
...                  ...      ...
6929       Pietro Grasso   167791
5412  Maria Elena Boschi   165889
3641      Gianni Cuperlo   165194
4933      Luciano Nobili   160188
4887    Lucia Borgonzoni   159962

[86 rows x 2 columns]

# Distribuzione argomenti

In [166]:
distribuzione_argomenti = data.groupby(['DATA', 'ARGOMENTO','TIPO_TEMPO'])[
    'DURATA'].aggregate('sum').unstack().reset_index()

In [167]:
distribuzione_argomenti.fillna(0, inplace=True)

In [168]:
distribuzione_argomenti['TOTALE'] = distribuzione_argomenti['Notizia'] + distribuzione_argomenti['Parola']

In [169]:
distribuzione_argomenti

TIPO_TEMPO,DATA,ARGOMENTO,Notizia,Parola,TOTALE
0,2018-01-01,Costume e società,16.0,0.0,16.0
1,2018-01-01,Cronaca,154.0,404.0,558.0
2,2018-01-01,"Economia, finanza e lavoro",11.0,0.0,11.0
3,2018-01-01,Giustizia,261.0,247.0,508.0
4,2018-01-01,Mass media e spettacolo,0.0,46.0,46.0
...,...,...,...,...,...
13197,2022-06-30,Costume e società,0.0,290.0,290.0
13198,2022-06-30,Cronaca,20.0,159.0,179.0
13199,2022-06-30,"Economia, finanza e lavoro",188.0,2706.0,2894.0
13200,2022-06-30,Esteri,109.0,1226.0,1335.0
13201,2022-06-30,Politica e attività istituzionali,9162.0,24328.0,33490.0

In [170]:
dati = []
radar_dati = {}

In [171]:

totale_parole = distribuzione_argomenti.sort_values(by="ARGOMENTO", ascending=True).groupby(
    'ARGOMENTO')['Parola'].aggregate('sum').to_frame().reset_index()
dati_interventi = {}
label_interventi = "Interventi"
interventi_argomenti_dati = []
for idx, row in totale_parole.iterrows():
    v = round(row.Parola / 60, 2)
    interventi_argomenti_dati.append(v)
dati_interventi['value'] = interventi_argomenti_dati
dati_interventi['name'] = label_interventi
dati.append(dati_interventi)

In [172]:
totale_notizie = distribuzione_argomenti.sort_values(by="ARGOMENTO", ascending=True).groupby(
    'ARGOMENTO')['Notizia'].aggregate('sum').to_frame().reset_index()

dati_notizie = {}
label_notizie = "Notizie"
notizie_argomenti_dati = []
out = "["
for idx, row in totale_notizie.iterrows():
    v = round(row.Notizia / 60,2)
    out += str(v) + ","
    notizie_argomenti_dati.append(v)
out = out[:-1] + "]"
dati_notizie['value'] = notizie_argomenti_dati
dati_notizie['name']=label_notizie
dati.append(dati_notizie)

In [173]:
minuti_argomenti = distribuzione_argomenti.pivot_table(index="ARGOMENTO", values="TOTALE", aggfunc=np.sum).reset_index().sort_values(by="ARGOMENTO", ascending=True)

In [174]:
indicators = []
for idx, row in minuti_argomenti.iterrows():
    blocco = {}
    name = row.ARGOMENTO
    value = round(row.TOTALE / 60,2)
    blocco['name'] = name 
    blocco['value'] = value
    out += "{ name: '%s', value: %s}," % (name, value)
    indicators.append(blocco)

In [175]:
radar_dati = {}
radar_dati['titolo'] = "Distribuzione per argomenti"
radar_dati['titolo_radar'] = "Interventi vs Notizie"
radar_dati['indicatori'] = indicators
radar_dati['legenda'] = [label_interventi, label_notizie]
radar_dati['dati'] = dati

In [176]:
data2json(radar_dati,"radar_argomenti.json")

# Flusso notizie/interventi nel tempo

In [177]:
label_interventi = "INTERVENTI"
label_notizie = "NOTIZIE"
legenda = []
legenda.append(label_interventi)
legenda.append(label_notizie)
volume_notizie = {}
volume_notizie['titolo'] = "Ore di notizie ed interventi di politica nella televisione"
volume_notizie['legenda'] = legenda
dati = []

In [178]:
volume_notizie_parole = data.groupby(['DATA', 'TIPO_TEMPO'])['DURATA'].aggregate('sum').unstack().reset_index()
volume_notizie_parole.sort_values(by="DATA", ascending=True, inplace=True)
volume_notizie_parole['TOTALE'] = volume_notizie_parole['Notizia'] + \
    volume_notizie_parole['Parola']

In [179]:
volume_notizie_parole[volume_notizie_parole.TOTALE ==
                      volume_notizie_parole.TOTALE.max()]

TIPO_TEMPO       DATA  Notizia  Parola  TOTALE
1114       2021-01-19    18186  163020  181206

In [180]:
for idx,row in volume_notizie_parole.iterrows():
    day = row.DATA.strftime('%Y/%m/%d')
    value_parole = []
    value_notizie = []
    parole = round(row.Parola / 60,2)
    notize = round(row.Notizia /60,2)
    value_parole.append(day)
    value_parole.append(parole)
    value_parole.append(label_interventi)
    value_notizie.append(day)
    value_notizie.append(notize)
    value_notizie.append(label_notizie)
    dati.append(value_parole)
    dati.append(value_notizie)

In [181]:
volume_notizie['dati'] = dati

In [182]:
data2json(volume_notizie, "volume_notizie.json")

In [183]:
volume_notizie_parole[volume_notizie_parole.TOTALE ==
                      volume_notizie_parole.TOTALE.min()]

TIPO_TEMPO       DATA  Notizia  Parola  TOTALE
61         2018-03-03      463     883    1346

In [184]:
data.COGNOME.unique()

array(['Berlusconi', 'Calenda', 'Conte', ..., 'Delli Colli', 'Calearo',
       'Gramazio'], dtype=object)